.container {
  background-color: #4e3d53;
}
* {
  margin: 0;
  padding: 0;
  color: white;
}
header {
  background-color: #a98b98;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  font-family:'VT323', monospace;
  font-size: 60px;
}
header h1 {
  margin-left: 60px;
}
header div {
  margin-right: 15px;
}
.title {
  width: 60vh;
  margin-left: 75px;
  margin-top: 30px;
  font-size: 35px;
}
.metodologia {
  background-color: #a6f0c6;
  clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 15%);
  height: 100vh;
  margin-top: 450px;
}

.tecnologia {
  height: 80vh;
}

.bases {
  background-color: #a6f0c6;
  height: 100vh;
  clip-path: polygon(50% 57%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.sliders {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.foto {
  width: auto;
  margin: 20px 60px;
  clip-path: circle();
  position: relative;
  height: auto;
}
.foto div {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.foto div:hover {
  opacity: 1;
}
.foto:hover {
  opacity: 0.5;
}
.sliders .foto img {
  height: 400px;
  width: 400px;
}
footer {
  background-color: #0f1123;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
